

.title h1{
    font-family: 'Italianno', serif;
    font-size: 100px;
    font-weight: normal;
}

.content-box{   
        padding: 1vw 2vw 5vw 3vw;
        font-size: 20px;
        line-height: 1.6;
}

.main-content{
    display: flex;
    gap: 100px;
}

.contact-img{
    width: 50%;
    overflow: hidden; /* Ẩn phần ảnh bị phóng lớn */
    position: relative;
    cursor: zoom-in;
}

.contact-img img{
    width: 100%;
    transition: transform 0.5s ease;
}

.contact-img img:hover{
    transform: scale(1.5);
}

.contacts{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    color: #EDE9D2;
    padding: 5px;
    border: 1px solid #EDE9D2;

}

.contact-last{
    display: flex;
    gap: 50px;
}
